@page
@model LoginModel

@{
    ViewData["Title"] = "Кіру";
}
<h2>Әкімші жазбаңызды басқарыңыз</h2>

<div>
    <h4>Тіркелгі параметрлерін өзгертіңіз</h4>
    <hr />
    <div class="row">
        <div class="row-cols-2">
            <ul class="nav nav-pills nav-stacked">
                <li><a id="profile" href="/Identity/Account/AccountManager">Профиль</a></li>
                <li class="active"><a id="change-password" href="/Identity/Account/ChangePassword">Құпия сөз</a></li>
                <!--<li><a id="two-factor" href="/Identity/Account/Manage/TwoFactorAuthentication">Two-factor authentication</a></li>-->
                <li><a id="personal-data" href="/Admin/Index">Басқару тақтасы</a></li>
            </ul>

        </div>
        <div class="col-md-9">


            <h4>Құпия сөзді өзгерту</h4>


            <div class="row">
                <div class="col-md-6">
                    <form id="change-password-form" method="post">
                        <div class="text-danger validation-summary-valid" data-valmsg-summary="true">
                            <ul>
                                <li style="display:none"></li>
                            </ul>
                        </div>
                        <div class="form-group">
                            <label for="Input_OldPassword">Қазіргі құпия сөз</label>
                            <input class="form-control" type="password" data-val="true" data-val-required="The Current password field is required." id="Input_OldPassword" name="Input.OldPassword" />
                            <span class="text-danger field-validation-valid" data-valmsg-for="Input.OldPassword" data-valmsg-replace="true"></span>
                        </div>
                        <div class="form-group">
                            <label for="Input_NewPassword">Жаңа құпия сөз</label>
                            <input class="form-control" type="password" data-val="true" data-val-length="The New password must be at least 6 and at max 100 characters long." data-val-length-max="100" data-val-length-min="6" data-val-required="The New password field is required." id="Input_NewPassword" name="Input.NewPassword" />
                            <span class="text-danger field-validation-valid" data-valmsg-for="Input.NewPassword" data-valmsg-replace="true"></span>
                        </div>
                        <div class="form-group">
                            <label for="Input_ConfirmPassword">Жаңа құпия сөзді растау</label>
                            <input class="form-control" type="password" data-val="true" data-val-equalto="The new password and confirmation password do not match." data-val-equalto-other="*.NewPassword" id="Input_ConfirmPassword" name="Input.ConfirmPassword" />
                            <span class="text-danger field-validation-valid" data-valmsg-for="Input.ConfirmPassword" data-valmsg-replace="true"></span>
                        </div>
                        <button type="submit" class="btn btn-success">Құпия сөзді жаңарту</button>
                        <input name="__RequestVerificationToken" type="hidden" value="CfDJ8PG1VA5IFedNidmcqu-buI0sS-ch02zqrSenv6Bbk6pGEC2I18l6rrkRDsDFwG41ZmQxYNC0cVzTA4Pw9FgtHgijLxEj-IQqv13Ufrz2CzCkHTITRav7jFh7k1li2n4M7v8LNQRnL6C0huu9HB3zK_KBNpYVceW_8Kj10oOT_y7Q8K5WZ8dKKSTCYx4D_7Ph4g" />
                    </form>
                </div>
            </div>


        </div>
    </div>
</div>