<h1>Барлық асықтар</h1>
<h3>@Model.currentCategory</h3>
<div class="row mt-5 mb-2">
    @{ 
        foreach (Asyk asyk in Model.getAllAsyktar)
            {
                @Html.Partial("AllAsyktar", asyk)    
            }
    }
</div>